<main class="container">
  <article>
    <h2><%= t('users.crud.new.heading') %></h2>
    <form action="/users" method="post" data-turbo="false">
      <%= csrf_field %>
      <label>
        <%= t('users.crud.new.email_label') %>
        <input type="email" name="email" required/>
      </label>
      <label>
        <%= t('users.crud.new.password_label') %>
        <input type="password" name="password" required/>
      </label>
      <button type="submit"><%= t('users.crud.new.submit_button') %></button>
    </form>
    <p><a href="/login"><%= t('users.crud.new.login_link') %></a></p>
  </article>
</main>
