<main class="container" id="new_conflict_frame">
  <h2><%= t('conflicts.crud.new.title') %></h2>
  <form action="/conflicts" method="post">
      <%= csrf_field %>
      <label for="title">
        <%= t('conflicts.crud.new.title_label') %>
        <input
          type="text"
          id="title"
          name="title"
          placeholder="<%= t('conflicts.crud.new.title_placeholder') %>"
          maxlength="100"
          value="<%= defined?(params) ? params[:title] : '' %>"
          autofocus
        />
        <%= field_error(:title, errors: defined?(errors) ? errors : nil) %>
      </label>
      <label for="description">
        <%= t('conflicts.crud.new.description_label') %>
        <textarea
          id="description"
          name="description"
          placeholder="<%= t('conflicts.crud.new.description_placeholder') %>"
          maxlength="1000"
          rows="4"
        ><%= defined?(params) ? params[:description] : '' %></textarea>
        <%= field_error(:description, errors: defined?(errors) ? errors : nil) %>
      </label>
      <label for="favor">
        <%= t('conflicts.crud.new.favor_label') %>
        <input
          type="text"
          id="favor"
          name="favor"
          placeholder="<%= t('conflicts.crud.new.favor_placeholder') %>"
          maxlength="100"
          value="<%= defined?(params) ? params[:favor] : '' %>"
        />
        <%= field_error(:favor, errors: defined?(errors) ? errors : nil) %>
      </label>
      <div class="grid">
        <button type="submit"><%= t('conflicts.crud.new.submit_button') %></button>
        <a href="/conflicts" role="button" class="secondary outline"><%= t('conflicts.crud.new.cancel_button') %></a>
      </div>
  </form>
</main>
