<main class="container">
  <turbo-frame id="conflict-<%= conflict.id %>">
    <article>
      <header><h3><%= t('conflicts.crud.edit.title') %></h3></header>
      <form method="patch" action="/conflicts/<%= conflict.id %>">
        <input type="hidden" name="_method" value="patch"/>
        <%= csrf_field %>
        <label for="title">
          <%= t('conflicts.crud.edit.title_label') %>
          <input
            type="text"
            id="title"
            name="title"
            value="<%= defined?(params) && params[:title] ? params[:title] : conflict.title %>"
            maxlength="100"
            autofocus
          />
          <%= field_error(:title, errors: defined?(errors) ? errors : nil) %>
        </label>
        <label for="description">
          <%= t('conflicts.crud.edit.description_label') %>
          <textarea
            id="description"
            name="description"
            maxlength="1000"
            rows="4"
          ><%= defined?(params) && params[:description] ? params[:description] : conflict.description %></textarea>
          <%= field_error(:description, errors: defined?(errors) ? errors : nil) %>
        </label>
        <label for="favor">
          <%= t('conflicts.crud.edit.favor_label') %>
          <input
            type="text"
            id="favor"
            name="favor"
            value="<%= defined?(params) && params[:favor] ? params[:favor] : conflict.favor %>"
            maxlength="100"
          />
          <%= field_error(:favor, errors: defined?(errors) ? errors : nil) %>
        </label>
        <div class="grid">
          <button type="submit"><%= t('conflicts.crud.edit.submit_button') %></button>
          <a href="/conflicts/<%= conflict.id %>" role="button" class="secondary outline"><%= t('conflicts.crud.edit.cancel_button') %></a>
        </div>
      </form>
    </article>
  </turbo-frame>
</main>
